<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZoneBuddy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZoneBuddyLiveActivityExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZoneBuddyWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>647174902F41566300CD86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D3B0722F4039A800D06A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D3B0832F4039AA00D06A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D3B08D2F4039AA00D06A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
